/* General Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    min-height: 80px;
    top: 0;
    z-index: 1000;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .logoLink {
    text-decoration: none;
    color: #fff;
    
  }
  
  .navLinks {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  .link {
    text-decoration: none;
    color: #bbb;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .socialIcons {
    display: flex;
    gap: 15px;
  }
  
  .icon {
    color: #bbb;
    font-size: 20px;
    transition: color 0.3s ease;
  }
  
  /* Hover Effect */
  .link:hover, .icon:hover {
    color: var(--hover-color, #fff);
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 15px;
    }
  
    .logo {
      margin-bottom: 10px;
    }
  
    .navLinks {
      flex-direction: column;
      gap: 10px;
    }
  
    .link {
      font-size: 16px;
      padding: 10px 0;
    }
  
    .socialIcons {
      margin-top: 15px;
      justify-content: flex-start;
    }
  
    .icon {
      font-size: 18px;
    }
  }
  
  @media (max-width: 480px) {
    .navbar {
      padding: 10px;
    }
  
    .logo {
      font-size: 20px;
    }
  
    .link {
      font-size: 14px;
    }
  
    .icon {
      font-size: 16px;
    }
  }
  